@CHARSET "ISO-8859-1";

body {
	background-color:light grey;
	color:#1E1C21;
	font-size:13px;
	padding:0 0 15px 0;
	margin:0;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: auto; margin-right: auto;
	
}

#container {
	margin-left: 100px;
	margin-right: 100px;
	width: 1020px;
}
#topSection {

	margin-top: 20px;
	color: #C2C26B;
}

#topSectionTable {
		border-collapse: collapse;
		border-spacing:0;
}

#topSectionTable td{
		font-size:20px;
    	
}

#topSection a{
	color: #C2C26B;
}

#topSection a:link {
	text-decoration:none;
	color:#C2C26B;
	}    /* unvisited link */
#topSection a:visited {
	color:#C2C26B;
	} /* visited link */
#topSection a:hover {
	text-decoration:none;
	color:#76792E;
	}   /* mouse over link */
#topSection a:active {
	text-decoration:none;
	color:#76792E;
	}  /* selected link */
	
#topStrip {

	color: #C2C26B;
}

#mainSection {
	margin-top: -2px;
	width: 100%;
	height: 400px;
	background: rgb(129,137,15); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(129,137,15,1) 0%, rgba(194,194,107,1) 5%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(129,137,15,1)), color-stop(5%,rgba(194,194,107,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(129,137,15,1) 0%,rgba(194,194,107,1) 5%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(129,137,15,1) 0%,rgba(194,194,107,1) 5%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(129,137,15,1) 0%,rgba(194,194,107,1) 5%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(129,137,15,1) 0%,rgba(194,194,107,1) 5%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81890f', endColorstr='#c2c26b',GradientType=0 ); /* IE6-9 */

}

.wide-container {
    max-width: 700px;
    height: 350px;
    margin: 0 auto;
    margin-left: -2px;
  }
  
 #productCat {
 	border-collapse: collapse;
	border-spacing:0;
	vertical-align:middle;
 }
 
 #productCat th {
 	font-size: 20px;
 	text-align: left;
 	color: #76792E;
 	height: 25px;
 	
 }
 
 #productCat td {
 	font-size: 20px;
 	color: #76792E;
 	vertical-align: top;
 }

#styledChecks {
	margin-top: 10px;
}
 input[type=checkbox] {  
    display: none;  
} 

    .checkbox label:before {  
        border-radius: 3px;  
        background-color: grey;
        font-size: 35px;
    } 
    
    input[type=checkbox]:checked + label:before {  
    content: "\2713";  
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 20px;  
    color: white;  
    text-align: center;  
    line-height: 27px;  
    background-color: #888b8d;
}

label:before {
	content: "";
	display: inline-block;

	width: 25px;
	height: 25px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 2px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #D9D8D9;
	box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, .3), 0px 2px 0px 0px rgba(255, 255, 255, .8);
}

label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 55px;
	margin-right: 15px;
	margin-bottom: 10px;
	font-size: 25px;
	background-color: white;
	width: 220px;
	text-align: left;
}

#searchButton {
	font-size: 20px;
	width: 120px;
	height: 30px;
	background-color: #76792E;
	padding-top: 5px;
	text-align: center;
	margin-left: 160px;
	margin-top: -13px;
}

a{
	margin-top : 5px;	
	color: white;
	
}

a:link {
	text-decoration:none;
	color:white;
	}    /* unvisited link */
a:visited {
	color:white;
	} /* visited link */
a:hover {
	text-decoration:none;
	color:#C2C26B;
	}   /* mouse over link */
a:active {
	text-decoration:none;
	color:white;
	}  /* selected link */
	

input[type=button] {
	background-color: #76792E;
	color: white;
	
	
}